<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365263918220-ncm55scvrh0ueh8nvd2fk52bb4oismms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365263918220-ncm55scvrh0ueh8nvd2fk52bb4oismms</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jUvuhwE9pAV_sqF7404F7g3dY0iVGT0</string>
	<key>GCM_SENDER_ID</key>
	<string>365263918220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernando.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-dbe3e</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-dbe3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365263918220:ios:dcf9fbc32d822f85</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-dbe3e.firebaseio.com</string>
</dict>
</plist>